.topnav {
	position: fixed;
	display: flex;
	width: 100%;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	height: 125px;
	padding-top: 2vh;
	padding-bottom: 3vh;
  	padding-left: 4vw;
  	padding-right: 4vw;
  	background: #fff;
  	top: 0;
  	z-index: 1;
}	

.nav-list {
	width: 100%;
	display: inline-block;
	text-align: center;
	font-family: 'Bitter';
}

.nav-list * {
	margin: 20px;
	text-decoration: none;
}

@media screen and (max-width: 450px) {

.nav-list * {
	margin: 10px;
	text-decoration: none;
}

}